.navigation{
    margin: 10px;
    width: 90vw;
    height: 20px;

    div{
        font-size: 20px;
        display:inline-block;
    }
}

.leftContent{
    border-bottom: 2px #ffffff solid;
}

.rightContent{
    position: absolute;
    right: 10px;

    a{
        margin: 10px;
        position: relative;
    }
    
    a::before {
        content: "";
        background: #ffffff;
        position: absolute;
        bottom: -5px;
        height: 1px;
        width: 40%;
        transition: 0.2s;
    }
    
    a, a:visited, a:active {
        color: inherit;
        text-decoration: none;
    }

    a:hover::before{
        width: 60%;
    }
}
